{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Protected Page</title>
</head>
<body>
    <div class="container">
        <h2>Protected Page</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptatem rerum doloribus enim, culpa voluptate, natus laudantium eius nam exercitationem impedit qui sequi. Dolor doloribus odit tempora velit possimus nisi! </p>
        <a href="{% url 'home' %}"> Home</a>
    </div>
</body>
</html>