{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />

    <title>Africa Tours</title>
  </head>
  <body>
    <div class="centered-content">

      <h1>Africa Tours Schedule for Q4 2025</h1>
      <ul>
        {% for tour in tours %}
        <li>{{ tour }}</li>
        {% endfor %}
      </ul>
      
      <a href="{% url 'form-app' %}" class="btn">Checkout the form application </a>
      <a href="{% url 'login' %}" >Or the auth app  </a>
    </div>

  </body>
</html>
